**/*.orig
*.elc
*.keystore
*.rel
*_archive
*_flymake.*
*~
.\#*
.cargo-ok
.cask/
.dir-locals.el
.org-id-locations
.projectile
/.emacs.desktop
/.emacs.desktop.lock
/auto/
/elpa/
/eshell/history
/eshell/lastdir
/network-security.data
/server/
Cargo.lock
\#*\#
auto-save-list
dist/
flycheck_*.el
godot/*.translation
godot/.import/
godot/.mono/
godot/data_*/
godot/export.cfg
rust/**/*.rs.bk
rust/Cargo.lock
rust/debug/
target/
tramp
.ftw
bin/*
godot/export_presets.cfg
lib/*
